.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
.login-logo{
  height: 200px;
  width: 200px;
}
.login-card {
  background: white;
  padding: 2rem;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-card input {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  padding: 10px;
  font-size: 16px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #5a67d8;
}
